---

title: Optical Support, Inc.
layout: work
image:
- src: osi1.jpg
  alt: "Cleanroom technician holding silicon wafer"
- src: osi2.jpg
  alt: "Optical elements with various optical coatings"
- src: osi3.jpg
  alt: "Optical metrology readout from an interferometer"
- src: osi4.jpg
  alt: "Optical elements with various optical coatings"
- src: osi5.jpg
  alt: "CNC Machines"
- src: osi6.jpg
  alt: "CNC Machines"
- src: osi7.jpg
  alt: "CNC Machines"
- src: osi8.jpg
  alt: "CNC Machines"
- src: osi9.jpg
  alt: "CNC Machine operation"
- src: osi10.jpg
  alt: "Cleanroom technician setting up the interferometer"
- src: osi11.jpg
  alt: "Machined aluminum parts"
- src: osi12.jpg
  alt: "Clearnroom technician holding silicon wafer"
categories:
- category: Photography
description: Photography and marketing support for a local optomechanical engineering firm.

---


<div class="pt-5 pb-2 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col">
      <h1>{{ page.title }}</h1>
      <div>
          {% for item in page.categories %}
              <h6 class="text-muted">{{ item.category }}</h6>
          {% endfor %}
      </div>
    </div>
    <div class="col pt-2">
      <h5 class="text-muted">{{ page.description }}</h5>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>


<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[3] %}
         {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[4] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[5] %}
         {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[8] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[7] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[6] %}
         {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[9] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[10] %}
         {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[11] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>
