---

title: Optical Support, Inc.
hero:
color: '#3F3963'
layout: work
image:
- src: osi1.jpg
- src: osi2.jpg
- src: osi3.jpg
- src: osi4.jpg
- src: osi5.jpg
- src: osi6.jpg
- src: osi7.jpg
- src: osi8.jpg
- src: osi9.jpg
- src: osi10.jpg
- src: osi11.jpg
- src: osi12.jpg
deliverables: [Photography]
roles: [Photographer, Editor]
description: Photography and marketing support for a local optomechanical engineering firm.
published: false

---

  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[0] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>


  <div class="py-2">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[1] %}
          {% include responsive-images-half.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>


      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
           {% assign image = page.image[2] %}
           {% include responsive-images-half.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[3] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio ratio-3x2 pb-2">
          {% assign video = page.video[0] %}
          {% include video-iframe.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ video.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[4] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[10] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[5] %}
          {% include responsive-images-half.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>

      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
           {% assign image = page.image[6] %}
           {% include responsive-images-half.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[7] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>


  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[8] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[9] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>
