---

layout: work
title: Nixie Watch
image:
- src: nix1.jpg
- src: nix2.jpg
- src: nix3.jpg
- src: nix4.jpg
- src: nix5.jpg
description: Shopify website build with commissioned product photography for a unique watch.
video:
- src: https://player.vimeo.com/video/563030173
- src: https://player.vimeo.com/video/563030150
- src: https://player.vimeo.com/video/563030130
- src: https://player.vimeo.com/video/563030226
- src: https://player.vimeo.com/video/563030111

---

<div class="pt-5 pb-2 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">

    <div class="col">
      <h1>{{ page.title }}</h1>
      <div>
          {% for item in page.categories %}
              <h6 class="text-muted">{{ item.category }}</h6>
          {% endfor %}
      </div>
    </div>
    <div class="col pt-2">
      {% include disclaimer.html %}
      <h5 class="text-muted">{{ page.description }}</h5>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
      </div>
    </div>
</div>

<div class="mt-5 py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[0] %}
        {% include video-iframe.html %}

      </div>
      <h6 class="pt-2 text-muted">
        {{ video.alt }}
      </h6>
    </div>
  </div>
</div>



<div class="mt-5 py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[1] %}
        {% include video-iframe.html %}

      </div>
      <h6 class="pt-2 text-muted">
        {{ video.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="mt-5 py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[2] %}
        {% include video-iframe.html %}

      </div>
      <h6 class="pt-2 text-muted">
        {{ video.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
      </div>
    </div>
</div>
<div class="py-5 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[3] %}
         {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="mt-5 py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[3] %}
        {% include video-iframe.html %}

      </div>
      <h6 class="pt-2 text-muted">
        {{ video.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="mt-5 py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[4] %}
        {% include video-iframe.html %}

      </div>
      <h6 class="pt-2 text-muted">
        {{ video.alt }}
      </h6>
    </div>
  </div>
</div>

<div class="py-5 container">
  <div class="row work">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[4] %}
        {% include srcset.html %}
      </div>
      <h6 class="pt-2 text-muted">
        {{ image.alt }}
      </h6>
      </div>
    </div>
</div>
