---

layout: work
title: Natural Selection 2
hero:
color: '#FEB12E'
image:
- src: nst1.jpg
- src: nst2.jpg
- src: nst3.jpg
- src: nst4.jpg
- src: nst5.jpg
- src: nst6.jpg
- src: nst7.jpg
- src: nst8.jpg
categories:
- category: Logo Design
- category: Branding
description: Worldbuilding and production design work for a Sci-fi first-person shooter title on PC.
video: https://player.vimeo.com/video/136413110

---


  <div class="py-2">
    <div class="row ">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[0] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>


  <div class="py-2">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[1] %}
          {% include srcset.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>


      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
{% assign image = page.image[2] %}
           {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row ">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[3] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>
