---

layout: work
title: Aspera
hero:
color: '#5A76E8'
image:
- src: asp1.jpg
- src: asp2.jpg
- src: asp3.jpg
- src: asp4.jpg
- src: asp5.jpg
deliverables: [Branding and Identity]
roles: [Designer, Account Manager]
credit: yes
description: Logo design for a first of its kind NASA mission to study previously unseen galactic filaments in UV.

---


  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[0] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>


  <div class="py-2">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[1] %}
          {% include responsive-images-half.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>


      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
           {% assign image = page.image[2] %}
           {% include responsive-images-half.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[3] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio ratio-3x2 pb-2">
          {% assign video = page.video[0] %}
          {% include video-iframe.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ video.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[4] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[10] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[5] %}
          {% include responsive-images-half.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>

      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
           {% assign image = page.image[6] %}
           {% include responsive-images-half.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[7] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>


  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[8] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[9] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>
