---

layout: work
title: Fairwheel Bikes
hero:
color: '#98BB64'
image:
- src: fwh2.jpg
- src: fwh1.jpg
- src: fwh3.jpg
- src: fwh4.jpg
- src: fwh5.jpg
- src: fwh6.jpg
- src: fwh7.jpg
- src: fwh8.jpg
- src: fwh9.jpg
- src: fwh10.jpg
- src: fwh11.jpg
- src: fwh12.jpg
- src: fwh13.jpg
video:
- src: https://player.vimeo.com/video/655101628
- src: https://player.vimeo.com/video/655169184
deliverables: [Product Photography, Image Retouching]
roles: [Photographer, Editor]
description: Product photography for an internationally recognized retailer of bespoke bikes and hard to find components.
---


<div class="py-5 ">
  <div class="row ">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[0] %}
        {% include responsive-images-full.html %}
      </div>
      <h6 class="pt-2 text-muted">
    </div>
  </div>
</div>


<div class="py-5 ">
  <div class="row ">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[0] %}
        {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row ">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[3] %}
        {% include responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 150%">
        {% assign image = page.image[9] %}
        {% include responsive-images-full.html %}
      </div>
    </div>
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[12] %}
        {% include responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[10] %}
        {% include responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[11] %}
         {% include responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>


<div class="py-5 ">
  <div class="row ">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[1] %}
        {% include responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[5] %}
        {% include responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[6] %}
         {% include responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
    <div class="col pb-3">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[7] %}
        {% include responsive-images-half.html %}
      </div>
    </div>

    <div class="col pb-3">
       <div class="ratio" style="--aspect-ratio: 66%">
         {% assign image = page.image[8] %}
         {% include responsive-images-half.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row ">
    <div class="col">
      <div class="ratio ratio-16x9 pb-3">
        {% assign video = page.video[1] %}
        {% include video-iframe.html %}
      </div>
    </div>
  </div>
</div>

<div class="py-5 ">
  <div class="row ">
    <div class="col">
      <div class="ratio" style="--aspect-ratio: 66%">
        {% assign image = page.image[2] %}
        {% include responsive-images-full.html %}
      </div>
    </div>
  </div>
</div>
