---

title: Track North
layout: work
hero:
color: '#EE6345'
image:
- src: trk5.png
- src: trk2.jpg
- src: trk3.jpg
- src: trk4.jpg
- src: trk5.png
- src: trk6.jpg
- src: trk7.png
- src: trk8.jpg
categories:
- category: Identity Design
description: Identity design for a rail services conglomerate serving the northern United States.

---


  <div class="py-2">
    <div class="row ">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[0] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>


  <div class="py-2">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[1] %}
          {% include srcset.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>


      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
{% assign image = page.image[2] %}
           {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="row ">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[3] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>
