---
title: Whiskey Del Bac
layout: work
hero:
color: '#793634'
image:
- src: newbottles.jpg
- src: newbottles.jpg
- src: newbottles.jpg
description: Updating labels and creating a consistent brand presence for a family owned and operated whiskey distillery in Tucson, Arizona.
video:
- src: https://player.vimeo.com/video/652261296
credit: yes
deliverables: [Packaging Design]
roles: [Designer, Account Manager]
published: false
---

{% assign image = page.image[0] %}
  <div class="py-2 ">
    <div class="row ">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[0] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>


  <div class="py-2 ">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 ">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[1] %}
          {% include responsive-images-half.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>


      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
           {% assign image = page.image[2] %}
           {% include responsive-images-half.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 ">
    <div class="row ">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[3] %}
          {% include responsive-images-full.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>
