---
title: Logos & Marks
layout: newwork
hero: /images/marks.png
color: '#2E8C69'
image:
- src: marks.png
- src: snt1.png
- src: snt3.png
- src: snt2.png
- src: snt5.png
- src: snt6.png
- src: snt7.png
- src: snt8.png
- src: snt9.png
- src: snt10.png
- src: snt11.png
- src: snt12.png
description: Identity design for a life sciences startup empowering new, unseen insights in biological research. To revolutionize the sensitivity, selectivity, and resolution of chemical and biological assays through constant innovation in nanoscale radioisotope detectors, enabling breakthrough discoveries in biological, chemical, and environmental systems.
video:
- src: https://player.vimeo.com/video/652261296
credit: yes
deliverables: [Identity, Web Design, Photography]
roles: [Designer, Photographer, Developer, Account Manager]
---

{% assign image = page.image[0] %}
  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>

{% assign image = page.image[1] %}
  <div class="py-2 container-fluid">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">

          {% include srcset.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>

{% assign image = page.image[2] %}
      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">

           {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[3] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col pb-2">
        <div class="ratio ratio-3x2 pb-2">
          {% assign video = page.video[0] %}
          {% include video-iframe.html %}

        </div>
        <h6 class="pt-2 text-muted">
          {{ video.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[4] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
        </div>
      </div>
  </div>

  <div class="py-5 container-fluid">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">

      <div class="col-sm-6 col-lg-6 pb-3">
      </div>
      <div class="col-sm-6 col-lg-6 pb-3">
        <div class="col col-sm-12 col-md-6 col-lg-6 pb-5 float-end">
        <hr></hr>
        <h5>Work Text Title Goes Here</h5>
        <p>Text content goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo duis ut diam quam nulla porttitor. Egestas purus viverra accumsan in nisl nisi scelerisque</p>
      </div>
      </div>
    </div>
  </div>


  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[10] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
      <div class="col pb-2">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[5] %}
          {% include srcset.html %}
        </div>
         <h6 class="pt-2 text-muted">
           {{ image.alt }}
         </h6>
      </div>

      <div class="col pb-2">
         <div class="ratio" style="--aspect-ratio: 66%">
           {% assign image = page.image[6] %}
           {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[7] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">
      <div class="col-sm-6 pb-3">
        </div>
  <div class="col-sm-6 pb-3">
    <h4>To describe their various product features we designed a series of unique icons.</h4>
    <h5 >The 5x7 grid was inspired by both the sphere shape of the nanoparticles, but also the grid of well-plate wells used in many life science applications.</h5>
  </div>
  </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[8] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>

  <div class="py-2 container-fluid">
    <div class="row work">
      <div class="col">
        <div class="ratio" style="--aspect-ratio: 66%">
          {% assign image = page.image[9] %}
          {% include srcset.html %}
        </div>
        <h6 class="pt-2 text-muted">
          {{ image.alt }}
        </h6>
      </div>
    </div>
  </div>
