<footer class="py-5">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 mx-2">
      <div class="col">
        <p class="mb-1 pt-2">
          <a href="#">Back to Top</a>
        </p>
      </div>

      
      <div class="col">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2">
          <div class="col-sm-6 pt-2">
            <p class="text-muted">© {{ "now" | date: "%Y" }} Danny Pagano</p>
          </div>
        
          <div class="col-sm-6">
            <nav>
              <div class="float-sm-end">
                <a href='/'>Work</a>
                <a href='/about'>About</a>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
