    <div class="py-3 my-5 container-fluid" id="navigation-bar">
      <div class="row">
        <div class="col">
          <a href="/">
            <!-- old logo settings
            <h3 class="pt-1" id="logo"><a href="/"><span class="dot">dp</span> danny pagano</a></h3>
            -->

            <!-- new logo test -->
            <img id="logo" src="/images/Logo_White.svg">
          </a>
        </div>
        <div class="col col-sm-6 navcol">
          <nav>
            <div class="float-end" id="navcontainer">
              <ul>
              <li><a href='/'>Work</a></li>
              <li><a href='/about'>About</a></li>
              <li><a href='/posts'>Posts</a><li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
