<div class="pt-5 pb-2 container">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 work">

    <div class="col">
      <h3>
        Project Requirements
      </h3>
    </div>

    <div class="col pt-2">
      <h5 class="text-muted">
        We were approached by Scintillation Nanotechnologies to develop an identity program and collateral materials in addition to a new ecommerce website. Scintillation Nanotechnologies is a provider of radioisotope detectiona and imaging tools.
      </h5>
    </div>

  </div>
</div>
